{% extends 'base.html.twig' %}

{% block title %} Movie Detail - {{ parent()}}{% endblock %}

{% block body %}
    <style>
        td {
            border: 1px solid black;
            padding: 2px;
        }
    </style>

    <div class="row">
        <div class="movie-detail col-6 offset-1">
            <h2>{{ movie.title }}</h2>
            <table>
                <tr>
                    <td>Plot</td>
                    <td class="movie-plot">{{ movie.plot }}</td>
                </tr>
                <tr>
                    <td>Release Date</td>
                    <td class="movie-released-at">{{ movie.releasedAt|date()}}</td>
                </tr>
                <tr>
                    <td>Created By</td>
                    <td>{{ movie.createdBy.username }}</td>
                </tr>
            </table>
            {% if poster is not empty %}
                <img src="{{ poster }}">
            {% endif %}
        </div>
    </div>
{% endblock %}
